JWT_SECRET_KEY = "abcdefg"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES = 30
JWT_ALGORITHM = HS256

POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
POSTGRES_HOST=localhost
POSTGRES_PORT=5432